<nav>
  <% if logged_in? %>
          <%= link_to(image_tag("login.png", :alt => "Admin"), beginnings_path) %>
          <% else %>
          <%= link_to(image_tag("login.png", :alt => "Log in"), login_path) %>
          <% end %>
</nav>

<div class="container">
  <div class="curse">
    <%= Beginning.order("RANDOM()").first.body %> <%= Middle.order("RANDOM()").first.body %> <%= Ending.order("RANDOM()").first.body %>
  </div>
</div>

<footer>
  <p><em>Brought to you by</em></p>
  <%= link_to(image_tag("brassbright.png", :alt => "The Brassbright Chronicle"), "http://www.brassbrightcity.com/", :target => '_blank') %>
  <p>Curse content &copy; Lori Alden Holuta | Site by Kate Lane</p>
</footer>
