<div class="adminheader"><%= render partial: 'shared/login' %></div>
<div class="admin">

  <div class="adminside">
    <h4>All curses have a beginning, middle and ending...</h4>
    <p>The three parts of each curse will be generated at random, so be sure to write parts that can function as independent pieces!</p>
    <p><strong>Important:</strong> punctuation is not built in between the curse sections &mdash; you must include punctuation (ex. a comma after a beginning or an exclamation point after an ending) in your text.</p>
  </div>

  <h1>Create a new beginning:</h1>
  <%= form_for(@beginning) do |f| %>

    <p><%= f.text_area :body %></p>
    <p><%= f.submit 'Save' %></p>

  <% end %>
  Or... <%= link_to "cancel and go back to all Beginnings", beginnings_path %>
</div>
