<div class="adminheader"><%= render partial: 'shared/login' %></div>
<div class="admin">

  <div class="adminside">
    <h4>These are all the middles in the database. Click individual middles to edit or delete them.</h4>

    <strong><%= link_to "Create a New Middle", new_middle_path %></strong><br>
    <%= link_to "See all Beginnings", beginnings_path %><br>
    <%= link_to "See all Endings", endings_path %><br>
    <%= link_to "Site Authors", authors_path %><br>
    <%= link_to "Return Home", root_path %>
  </div>

  <h1>Each curse has a middle in... the middle:</h1>
  <ul id="middles">
    <% @middles.each do |middle| %>
      <li>
        <%= link_to middle.body, middle_path(middle) %>
      </li>
    <% end %>
  </ul>

</div>
